# Coronavirus statistics data in Shanghai lockdown

No entire COVID-19 statistics data of the Shanghai lockdown period can be found in the [JHU CSSE COVID-19 Data](https://github.com/CSSEGISandData/COVID-19) project. Data of project [shanghai-lockdown-covid-19](https://github.com/lewangdev/shanghai-lockdown-covid-19) is crawled from [Shanghai Government](https://wsjkw.sh.gov.cn/yqtb/)'s public website, began on 19/03/2022, the date of my place lockdown.

Shanghai is divided by the Huangpu River into two parts, the Pudong area, and the Puxi area. Pudong's lockdown began on 28/03/2022 firstly, and Puxi started its shutdown on 01/04/2022. Most areas of Shanghai remain locked down till {{current_date}}. 

This project will be updated every day before Shanghai reopens. JSON files with places can be found in directory [data](https://github.com/lewangdev/shanghai-lockdown-covid-19/tree/main/data).

## Statistics

### New cases

![New cases](https://github.com/lewangdev/shanghai-lockdown-covid-19/blob/main/figture/new-cases.png?raw=true)

| Date/Details | New Cases  | Deaths | Confirmed Cases | Asymptomatic Cases | A2C Cases(*) |
| ---- | ---------- | ---------- | ---------------- | ----------------- | ---------------------------- |
{%for new_case in new_cases %}
| {{new_case.date}} | {{new_case.total}} | {{new_case.deaths}} | {{new_case.confirmed}} | {{new_case.asymptomatic}} | {{new_case.asymptomatic_to_confirmed}} |
{% endfor %}

* A2C Cases: Asymptomatic cases that are confirmed.

### Cases

![Cases](https://github.com/lewangdev/shanghai-lockdown-covid-19/blob/main/figture/cases.png?raw=true)

| Date | Total Cases  | Total Deaths | Case‑Fatality |
| ---- | ---------- | ---------- | ---------- |
{% for case in cases %}
| {{case.date}} | {{case.total}} | {{case.deaths}} | {{"%.4f"|format(case.deaths/case.total * 100)}}% |
{% endfor %}

### District New Cases

| Date/District | {% for district_name in district_names %} {{district_name}} | {% endfor %} 
| ---- | {% for district_name in district_names %} ---------- | {% endfor %}

{% for date, cases in cases_by_date.items() %}
| {{date}} | {% for case in cases %} {{case.new_case}} | {% endfor %} 
{% endfor %}


### District Total Cases

| Date/District | {% for district_name in district_names %} {{district_name}} | {% endfor %} 
| ---- | {% for district_name in district_names %} ---------- | {% endfor %}

{% for date, cases in cases_by_date.items() %}
| {{date}} | {% for case in cases %} {{case.total}} | {% endfor %} 
{% endfor %}

### District Covid-19 Places

| Date/District | {% for district_name in district_names %} {{district_name}} | {% endfor %} 
| ---- | {% for district_name in district_names %} ---------- | {% endfor %}

{% for date, cases in cases_by_date.items() %}
| {{date}} | {% for case in cases %} {{case.place_count}} | {% endfor %} 
{% endfor %}

## Data Source

* [Shanghai Municipal Health Commission's website](https://wsjkw.sh.gov.cn/yqtb/)