# Coronavirus statistics data in Shanghai lockdown

No entire COVID-19 statistics data of Shanghai lockdown period can be found in [JHU CSSE COVID-19 Data project](https://github.com/CSSEGISandData/COVID-19).
This project, named with [shanghai-lockdown-covid-19](https://github.com/lewangdev/shanghai-lockdown-covid-19), crawled covid-19 data from [Shanghai Government](https://wsjkw.sh.gov.cn/yqtb/)'s public website, began at 19/03/2022, the date of my place lockdown.

Shanghai is divided by Huangpu River into two parts, Pudong area and Puxi area. Pudong's lockdown began at 28/03/2022 firstly, and Puxi started its shutdown at 01/04/2022.
Most of areas of Shanghai remain locked down till now(25/04/2022). 

This project will be updated everyday before Shanghai reopen. JSON files with places can be found in directory [data](https://github.com/lewangdev/shanghai-lockdown-covid-19/tree/main/data).


## Statistics

### New cases

![New cases](https://github.com/lewangdev/shanghai-lockdown-covid-19/blob/main/figture/new-cases.png?raw=true)

| Date | New Cases  | Confirmed Cases | Asymptomatic Cases | A2C Cases(*) |
| ---- | ---------- | ---------------- | ----------------- | ---------------------------- |
{%for new_case in new_cases %}
| {{new_case.date}} | {{new_case.total}} | {{new_case.confirmed}} | {{new_case.asymptomatic}} | {{new_case.asymptomatic_to_confirmed}} |
{% endfor %}

* A2C Cases: Asymptomatic cases that are confirmed.

### Cases

![Cases](https://github.com/lewangdev/shanghai-lockdown-covid-19/blob/main/figture/cases.png?raw=true)

| Date | Total Cases  | 
| ---- | ---------- |
{% for case in cases %}
| {{case.date}} | {{case.total}} |
{% endfor %}

### District New Cases

| Date/District | {% for district_name in district_names %} {{district_name}} | {% endfor %} 
| ---- | {% for district_name in district_names %} ---------- | {% endfor %}

{% for date, cases in cases_by_date.items() %}
| {{date}} | {% for case in cases %} {{case.new_case}} | {% endfor %} 
{% endfor %}


### District Total Cases

|  | {% for district_name in district_names %} {{district_name}} | {% endfor %} 
| ---- | {% for district_name in district_names %} ---------- | {% endfor %}

{% for date, cases in cases_by_date.items() %}
| {{date}} | {% for case in cases %} {{case.total}} | {% endfor %} 
{% endfor %}

### District Covid-19 Places

| Date/District | {% for district_name in district_names %} {{district_name}} | {% endfor %} 
| ---- | {% for district_name in district_names %} ---------- | {% endfor %}

{% for date, cases in cases_by_date.items() %}
| {{date}} | {% for case in cases %} {{case.place_count}} | {% endfor %} 
{% endfor %}

## Data Source

* [Shanghai Municipal Health Commission's website](https://wsjkw.sh.gov.cn/yqtb/)